.background {
    background-image: url(../../assets/bg.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.active{
    background-color: blue;
    color: white;
}